* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: unset;
  text-decoration: unset;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header {
  border-bottom: 1px solid #e5e7eb;
}

footer {
  color: #8b8a7c;
  height: 400px;
  background-color: #2a2a2a;
}

.view-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  width: 100%;
  padding: 0 16px;
  max-width: 1200px;
  box-sizing: border-box;
}

input {
  padding: 8px 16px;
  height: 25px;
  border: 1px solid #ccced1;
}

input:focus {
  outline: 0;
}

button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  border: 1px solid #ccced1;
}

textarea {
  resize: none;
  padding: 16px;
  border-color: #ccc;
}

textarea:focus {
  border-color: #ccc;
}